/*Style Sheet for Jayg Dimayacyac's Website*/

/*GLOBAL*/

body {
  font: sans-serif arial times;
  padding:0;
  margin:0;
  color: white;
  width:1270px;
  position:absolute;
}

ul {
  margin:0;
  padding:0;
}

/*Header*/

header .container{
  width:100%;
  background-color: #373737;
  border-bottom: 4px solid #C0B283;
  height: 100px;
  overflow: hidden;
}

#branding{
  float:right;
  margin-right: 3%;
}
#branding img{
  max-width: 90px;
  margin-top: 5px;
}

nav{
  margin-left: 3%;
}

.container nav a{
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: #f4f4f4
}

.container nav a:hover{
  background-color: #c0b283;
  font-weight:bold;
  padding: 0 0 1px 0;
}

.container nav ul li{
  float: left;
  display: inline;
  font-size: 15px;

  margin: 0 3% 0 3%;
  margin-top: 84px;
}

.container nav .current{
  background-color: #C0B283;
  color: #373737;
  font-weight: bold;
  text-align: center;
}

/*Name Showcase*/

#nameshowcase .container{
  width:100%;
  height:480px;
  background-image: url("../img/ICCA.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 50%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#nameshowcase .container #welcome, #nameshowcase .container #greet{
  font-weight: bold;
  text-transform: uppercase;
}

#nameshowcase .container #welcome{
  padding:0;
  margin:0;
  color:#f4f4f4;
  text-align: right;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  font-size:25px;
}

#nameshowcase .container #greet{
  margin-top: 280px;
  margin-left: 5px;
  font-size: 30px;
}

#nameshowcase h1 span{
  color: #DCD0C0;
}

/*Portrait Profile*/

.ppcontainer{
  width:100%;
  height:500px;
  border-top: 2px solid #C0B283;
}

/*Portrait Caption*/

#portraitcaption .container{
float: left;
width: 30%;
height:100%;
background-color: #373737;
text-align: center;
}

#portraitcaption .container h1{
  color: #f4f4f4;
}

#portraitcaption .container h1 span{
  color: #DCD0C0;
}

/*Portrait*/
#portrait .container{
  width: 30%;
  height:500px;
  margin-top: 72px;
  position:absolute;
  float:left;
  background-image: url("../img/portrait.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Profile*/
#profile .container{
  float:right;
  color: #f4f4f4;
  width: 69.6%;
  height: 100%;
  background-color: #373737;
  padding-left:5px;
  overflow:hidden;
}

#profile .container h1{
  margin-left:50%;
}

#profile .container ul{
  padding:0;
  margin-left: 30px;
  float:left;
  font-size: 15px;
  font-weight: bold;
}

#profile .container ul li{
  display:inline-block;
}
