/*Style Sheet for Jayg Dimayacyac's Website*/

/*GLOBAL*/

body {
  font-family: comic;
  padding:0;
  margin:0;
  color: white;
  width:1270px;
  position: absolute;
}

ul {
  margin:0;
  padding:0;
}

/*Header*/

header .container{
  width:100%;
  background-color: #373737;
  border-bottom: 4px solid #C0B283;
  height: 100px;
  overflow: hidden;
}

#branding{
  float:right;
  margin-right: 3%;
}
#branding img{
  max-width: 90px;
  margin-top: 5px;
}

.container .navcontainer{
  margin-left: 3%;
  float: left;
  width: 60%;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0 0 1px 0;
  color: #f4f4f4;
}

.container .navcontainer ul li{
  float: left;
  display: inline;
  font-size: 15px;
  margin: 0 3% 0 3%;
  margin-top: 78px;
}

.container nav a{
  color: #f4f4f4;
}

.container nav a:hover{
  background-color: #c0b283;
  font-weight:bold;
  text-decoration: none;
}

.container nav .current{
  background-color: #C0B283;
  color: #373737;
  font-weight: bold;
  text-align: center;
}

/*Name Showcase*/

#nameshowcase .container{
  width:100%;
  height:540px;
  background-image: url("../img/ICCA2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#nameshowcase .container #welcome, #nameshowcase .container #greet{
  font-weight: bold;
  text-transform: uppercase;
}

#nameshowcase .container #welcome{
  color: #f4f4f4;
  text-align: right;
  float: right;
  margin-right: 20px;
}

#nameshowcase .container #greet{
  margin-top: 20%;
  margin-left: 5px;
  color: #f4f4f4;
  float: left;
}

#nameshowcase .container #greet2{
  margin-top: 38%;
  margin-left: 5px;
  color: #f4f4f4;
  text-align: right;
}

#nameshowcase .container #welcome h1, #nameshowcase .container #greet h1{
  font-size: 50px;
}

#nameshowcase .container #greet2 h4{
  font-size: 40px;
}

#nameshowcase .container #welcome h1, #nameshowcase .container #greet h1,
#nameshowcase .container #greet2 h4{
  font-weight: bold;
  font-family: comic;
}

#nameshowcase h1 span, #nameshowcase h4 span{
  color: #C0B283;
}

/*Brief About*/

.aboutcontainer{
  width:100%;
  height:600px;
  border-top: 4px solid #C0B283;
}

/*Quote*/
#quote .container{
  width: 30%;
  height:600px;
  float:left;
  background-color: #373737;
}

#quote .container p{
  font-size: 40px;
  font-style: italic;
  font-family:comic;
  text-align: justify;
  margin-top: 50%;
  margin-left: 10%;
  color: #C0B283;
  width: 90%;
  padding: 5px;
  background-color: #373737;
  border: 4px solid #C0B283;
}

/*Portrait*/
#portrait .container{
  width: 30%;
  height:600px;
  margin-left:30%;
  background-color:#373737;
  position: absolute;
}

#portrait .container img{
  margin-top: 30px;
  margin-left: 2%;
  width: 400px;
  border: 4px solid #C0B283;
}

/*Profile*/
#profile .container{
  float: right;
  color: #f4f4f4;
  width: 40%;
  height: 600px;
  background-color: #373737;
  overflow:hidden;
}

#profile table{
  margin-top: 25%;
  margin-left: 15%;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: #373737;
  border: 4px solid #C0B283;
}

#profile table .subject{
  color: #C0B283;
  text-align: left;
  width: 50%;
  padding: 8px;
}

#profile table .answer{
  color: #f4f4f4;
  text-align: center;
  width: 50%;
  padding: 8px;
}

/*CurrentProject*/

#currentprojects .container{
  margin-top:4px;
  width: 100%;
  background-color: #373737;
  border-top: 4px solid #C0B283;
  height: 580px;
}

#currentprojects .container h2{
  color: #f4f4f4;
  padding:0;
  margin-top: 20px;
  text-align: center;
  font-family: comic;
  font-size: 35px;
}

#currentprojects .container .project1{
  width:45%;
  float: left;
  height:100px;
  color: #f4f4f4;
  margin-top: 30px;
  margin-left: 10px;
  text-align: justify;
}

#currentprojects .container .project2{
  width:45%;
  float: right;
  height:100px;
  color: #f4f4f4;
  margin-top: 30px;
  margin-right: 10px;
  text-align: justify;
}

#currentprojects .container .project3{
  width:45%;
  float: left;
  height:100px;
  color: #f4f4f4;
  margin-top: 130px;
  margin-left: 10px;
  text-align: justify;
}

#currentprojects .container .project4{
  width:45%;
  float: right;
  height:100px;
  color: #f4f4f4;
  margin-top: 130px;
  margin-right: 10px;
  text-align: justify;
}

#currentprojects .container h3{
  color: #C0B283;
  font-family: comic;
  text-align: center;
}

#currentprojects .container p{
  font-style: italic;
  font-family: comic;
}

/*Skill Tree*/

#skilltree .container{
  width:100%;
  height:150px;
  background-image: url("../img/skilltree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#skilltree .container h2{
  font-size: 100px;
  font-family: comic;
  color: #C0B283;
  text-align:center;
}

#skilltree .skilltreecontainer{
  height: 500px;
  background-color: #373737;
  width: 100%;
  border-top:4px solid #C0B283;
}

#skilltree .skilltreecontainer img{
  height: 300px;
  margin-top: 5px;
  margin-left: 10%;
}

/*Footer*/

footer .container{
  height: 40px;
  width: 100%;
  border-top:6px solid #C0B283;
  background-color: #DCD0C0;
}

footer .container .icons{
  margin-left: 2%;
  margin-top: .3%;
  float: left;
  width: 35%;
}

footer .container .fa-linkedin, footer .container .fa-facebook, footer .container .fa-google-plus{
  color: #373737;
}

footer .container .icons a{
  margin: 0 12% 0 12%;
}

footer .container .icons a:hover{
  background-color: #C0B283;
  padding-top: 20px;
  border-left: 2px solid #C0B283;
  border-right:2px solid #C0B283;
}

footer .container .contactcontainer{
  float: right;
  width: 60%;
  margin-top: .3%;
}

footer .container .contactcontainer ul li{
  margin: 0 3% 0 3%;
  display: inline;
  font-family: comic;
  font-size: 15px;
  font-weight: bolder;
  color: #373737;
}

footer .container .contactcontainer ul a:hover{
  text-decoration: none;
  background-color: #C0B283;
  padding: 6px 0 10px 0;
  border-left: 2px solid #C0B283;
  border-right:2px solid #C0B283;
}

footer .container .contactcontainer ul a{
  text-decoration: none;
  color: #373737;
}
