/*Style Sheet for Jayg Dimayacyac's Website*/

/*GLOBAL*/

body {
  font-family: comic;
  padding:0;
  margin:0;
  color: white;
  position: absolute;
}


ul {
  margin:0;
  padding:0;
}


/*Header*/

header .container{
  width:100%;
  background-color: #373636;
  opacity: 0.9;
  height: 120px;
}

#branding{
  margin-right: 3%;
  float:right;
}

#branding img{
  height:120px;
  margin-top: 5px;
}

.container .navcontainer{
  margin-left: 3%;
  float: left;
  width: 80%;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: #f4f4f4;
  position: relative;
}

.container .navcontainer ul li{
  float: left;
  display: inline;
  font-size: 25px;
  margin: 0 6% 0 6%;
  margin-top: 40px;
}

.container nav a{
  color: #f4f4f4;
}

.container nav a:hover{
  color: #C0B283;
  font-weight:bold;
  text-decoration: none;
  padding: 2px 0 2px 0;
}

.container nav .current{
  color: #C0B283;
  text-decoration: overline;
  text-align: center;
}

/*Name Showcase*/

#nameshowcase .container{
  width:100%;
  height:680px;
  background-image: url("../img/ICCA.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#nameshowcase .container #welcome{
  color: #f4f4f4;
  text-align: left;
  margin-top: 105px;
  margin-left: 1%;
}

#nameshowcase .container #welcome h1{
  font-size:80px;
}

#nameshowcase .container #greet{
  color: #f4f4f4;
  text-align: left;
  float: left;
  left: 3%;
  top: 18%;
  width: 40%;
  position: relative;
}

#nameshowcase .container #greet h1{
  font-size:70px;
}

#nameshowcase .container #greet2{
  color: #f4f4f4;
  text-align: right;
  float: right;
  right: 3%;
  top: 18%;
  width: 40%;
  position: relative;
}

#nameshowcase .container #greet2 h1{
  font-size: 70px;
}

#nameshowcase .container #welcome h1, #nameshowcase .container #greet h1,
#nameshowcase .container #greet2 h1{
  font-weight: bold;
  font-family: comic;
  text-transform: uppercase;
}

#nameshowcase h1 span, #nameshowcase h4 span{
  color: #C0B283;
}

/*Brief About*/

.aboutcontainer{
  width:100%;
  height:760px;
  border-top: 2px solid #C0B283;
  background-color: #373737;
}

.aboutcontainer .aboutheading{
  width:100%;
  height:150px;
  background-color: #373737;
}

.aboutcontainer .aboutheading h2{
  font-size: 80px;
  font-family: comic;
  color: #C0B283;
  text-align:center;
}

/*Portrait*/
#portrait .container{
  float: left;
  width: 50%;
  height:610px;
  position: absolute;
}

#portrait .container img{
  display: block;
  margin: 0 0 0 50%;
  max-width: 300px;
}

#portrait .container p{
  font-size: 25px;
  font-style: italic;
  font-family:comic;
  text-align: center;
  color: #C0B283;
  width: 50%;
  padding: 5px;
  background-color: #373737;
  margin: 2% 0 0 50%;
}


/*Profile*/

#profile .container{
  color: #f4f4f4;
  width: 50%;
  height: 610px;
  position: absolute;
  margin-left: 50%;
}

#profile table{
  margin: 0 0 0 0;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: #373737;
  border: 4px solid #C0B283;
  width: 60%;
}

#profile table .subject{
  color: #C0B283;
  text-align: left;
  width: 30%;
  padding: 10px;
}

#profile table .answer{
  color: #f4f4f4;
  text-align: right;
  width: 70%;
  padding: 10px;
}

/*CurrentProject*/

#currentprojects .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:3em;
  grid-row: 100px;
  width: 100%;
  background-color: #373737;
  border-top: 2px solid #C0B283;
  height: 740px;

}

#currentprojects .currentprojectsheading{
  grid-column:1/3;
  grid-row: 1;
  background-color: #373737;
}

#currentprojects .container .currentprojectsheading h2{
  font-size: 80px;
  font-family: comic;
  color: #C0B283;
  text-align:center;
}

#currentprojects .container .project1{
  float: left;
  grid-row: 2;
  height:100px;
  color: #f4f4f4;
  text-align: justify;
}

#currentprojects .container .project2{
  float: right;
  grid-row: 2;
  height:100px;
  color: #f4f4f4;
  text-align: justify;
}

#currentprojects .container .project3{
  float: left;
  grid-row: 3;
  height:100px;
  color: #f4f4f4;
  text-align: justify;
}

#currentprojects .container .project4{
  float: right;
  grid-row: 3;
  height:100px;
  color: #f4f4f4;
  text-align: justify;
}

#currentprojects .container h3{
  color: #C0B283;
  font-family: comic;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#currentprojects .container p{
  font-family: comic;
  font-size: 20px;
}

/*Blackspace
.blackspace{
  height:120px;
  background-color: #373737;
}
*/

/*About Me*/

#aboutmetitle .container{
  width:100%;
  height:620px;
  background-image: url("../img/aboutmetitle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#aboutmetitle .container h1{
  font-weight: bold;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size:80px;
  font-family: comic;
  text-align: right;
  margin-top: 105px;
  margin-right: 1%;
}


/*Skill Tree*/

#skilltree .skilltreeheading{
  width:100%;
  height:150px;
  background-image: url("../img/skilltree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  border-bottom: 2px solid #c0b283;
  border-top: 2px solid #c0b283;
  position: absolute;
}

#skilltree .skilltreeheading h2{
  font-size: 80px;
  font-family: comic;
  color: #C0B283;
  text-align:center;
}

#skilltree .skilltreecontainer{
  height: 500px;
  background-color: #373737;
  width: 100%;
  border-top:4px solid #C0B283;
}

#skilltree .skilltreecontainer img{
  height: 300px;
  margin-top: 150px;
  margin-left: 10%;
}

/*Footer*/

footer .container{
  height: 280px;
  width: 100%;
  border-top:6px solid #C0B283;
  background-color: #373737;
  position: absolute;
}

footer .container .icons{
  margin: 2% 0 0 0;
  text-align: center;
  align-items: center;
  width: 100%;
}

footer .container .fa-linkedin, footer .container .fa-facebook, footer .container .fa-google-plus{
  color: #f4f4f4;
}

footer .container .fa-linkedin:hover{
  color: #c0b283;
}

footer .container .fa-facebook:hover{
  color: #c0b283;
}

footer .container .fa-google-plus:hover{
  color: #c0b283;
}

footer .container .icons a{
  margin: 0 5% 0 5%;
}

footer .link{
  height: 100px;
  margin-top: 2%;
  left: 45.75%;
  text-align: center;
  position:absolute;
}

footer .link a{
  color: #f4f4f4;
  display: block;
  font-weight: bolder;
  font-size: 10px;
  left: 47.5%;
  width: 100px;
  margin-top: 1%;
}

footer .link a:hover{
  color: #c0b283;
  text-decoration: none;
}

footer .link img{
  width: 80px;
  left: 46.5%;
  opacity: 0.3;
  margin-top: 3%;
}

footer .container .copyright{
  color: #f4f4f4;
  margin-top: 12%;
  width:100%;
  text-align: center;
}

footer .container .copyright h4{
  font-size: 15px;
  text-align: center;
}

footer .container .copyright p{
  font-size: 10px;
  text-align: center;
}

/*Media Queries*/
